* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    color: #000000;
}

a:hover {
    color: #ff7600;
}

button {
    background: #ff7600;
    border: none;
    cursor: pointer;
    color: black;
    padding: 4px 10px;
}

button:hover {
    background: #0a8c20;
}

.header-container, .space-header-container, .space-body-container, .incoming-links-container, .footer-container {
    display: flex;
    justify-content: center;
}

.header, .space-header, .space-body, .incoming-links, .footer {
    width: 1000px;
    overflow: hidden;
    padding: 0, 10px;
}

/* Header */
.header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-top: 5px;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.quick-links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

.quick-link {
    display: flex;
}

.header-link {
    margin: 0 5px;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: white;
 
    border-bottom: 1px solid  rgba(255, 255, 255, .3);
}

.header-link:hover {
    color: white;
    border-color: rgba(255, 255, 255);
}

#home {
    font-weight: bold;
    margin-right: 30px;
}

/* Space */
.space {
    margin-bottom: 40px;
}

.space-header-container {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    margin-top: -75px;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 150px;
}

.space-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.space-title-container {
    min-width: 650px;
}

.space-title {
    color: white;
}

.space-title::first-line {
    font-size: 96px;
}

.space-actions {
    display: flex;
    justify-content: flex-end;
}

.space-action-button {
    background: none;
    border: none;
    cursor: pointer;

    font-weight: 200;
    color: white;

    padding: 0px;
    margin: 10px;

    border-bottom: 1px solid  rgba(255, 255, 255, .3);
}

.space-action-button:hover {
    color: white;
    background: none;
    border-color: rgba(255, 255, 255)
}

.space-body {
    padding-bottom: 60px;
    border-style: none none solid none;
    border-color: #e6e6e6;
    border-width: 1px;
}

/* Link */
.incoming-link {
    padding-bottom: 20px;
    padding-top: 10px;
}

.link-title {
    font-weight: bold;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}

.link-url {
    font-size: 17px;
    font-family: monospace;
}

.link-name {
    font-size: 17px;
    font-family: monospace;
}

.emoji-link {
    text-decoration: none;
}

.discussion {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    overflow-wrap: break-word;
    line-height: 1.45;
}

.discussion p {
    margin: 5px 0;
}

/* Edit */
.lined-input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: none none solid none;
    border-color: #e6e6e6;
    border-width: 1px;
}

.lined-input:focus {
    outline-width: 0;
    outline: none;
}

.discussion-edit {
    resize: none;
    width: 100%;
    border: 0px;
    vertical-align: top;
    min-height: 50px;
    height: auto;
}

.discussion-edit:focus {
    outline-width: 0;
    outline: none;
}

.hidden {
    display: none;
}
