a {
    color: #000000;
}

a:hover {
    color: #ff7600;
}

button {
    background: #ff7600;
    border: none;
    cursor: pointer;
    color: black;
    padding: 4px 10px;
}

button:hover {
    background: #0a8c20;
}

.globalwidth {
    width: 800px;
    margin: 0 auto;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

/* Header */

.header-navigation {
    display: inline-block;
    border-style: none none solid none;
    border-color: #0a8c20;
    border-width: 1px;

    margin-bottom: 40px;
}

.header-item {
    margin: 0 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: #0a8c20;
}

#home {
    font-weight: bold;
    margin-right: 20px;
}

/* Space */

.space {
    margin-bottom: 40px;
}

.space-header {
    margin-bottom: 30px
}

.space-title-block {
    display: inline-block;
    width: 650px;
}

.space-title::first-line {
    font-size: 96px;
}

.space-actions {
    display: inline-block;
    float: right;
}

.action {
    display: inline-block;
}

.action-button {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: #0a8c20;
}

.action-button:hover {
    color: #ff7600;
    background: none;
}

.space-body {
    padding-bottom: 60px;
    border-style: none none solid none;
    border-color: #e6e6e6;
    border-width: 1px;
}

/* Link */

.incoming-link {
    padding-bottom: 20px;
    padding-top: 10px;
}

.link-title {
    font-weight: bold;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}

.link-url {
    font-size: 17px;
    font-family: monospace;
}

.link-name {
    font-size: 17px;
    font-family: monospace;
}

.emoji-link {
    text-decoration: none;
}

.discussion {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    overflow-wrap: break-word;
    line-height: 1.45;
}

.discussion p {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Edit */

.lined-input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: none none solid none;
    border-color: #e6e6e6;
    border-width: 1px;
}

.lined-input:focus {
    outline-width: 0;
    outline: none;
}

.discussion-edit {
    resize: none;
    width: 100%;
    border: 0px;
    vertical-align: top;
    min-height: 50px;
    height: auto;
}

.discussion-edit:focus {
    outline-width: 0;
    outline: none;
}

.hidden {
    display: none;
}
