@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap'); * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

a {
    color: #000000;
}

a:hover {
    color: #ff7600;
}

button {
    background: #ff7600;
    border: none;
    cursor: pointer;
    color: black;
    padding: 4px 10px;
}

button:hover {
    background: #0a8c20;
}

.header-container, .space-header-container, .space-body-container, .incoming-links-container, .footer-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.header, .space-header, .space-body, .incoming-links, .footer {
    width: 1200px;
    overflow: hidden;
}

/* Header */
.header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.quick-links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

.quick-link {
    display: flex;
}

.header-link {
    margin: 0 5px;
    padding: 0;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 17px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.header-link:active, .header-link:focus {
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, .6);
}

.header-link:hover {
    color: white;
    background: none;
    border-color: rgba(255, 255, 255);
}

#home {
    font-weight: bold;
    margin-right: 30px;
}

/* Space */
.space {
    margin-bottom: 40px;
}

.space-header-container {
    margin-top: -80px;
    padding-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.space-header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.space-title-container {
    padding-bottom: 120px;
}

.space-title::first-line {
    font-size: 96px;
}

.space-actions {
    display: flex;
    justify-content: flex-start;
}

.space-body {
    padding-bottom: 20px;
}

/* Link */
.incoming-link {
    padding-bottom: 15px;
    padding-top: 7px;
}

.link-title {
    font-weight: 700;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
}

.link-url {
    font-size: 17px;
    font-family: monospace;
}

.link-name {
    font-size: 17px;
    font-family: monospace;
}

.emoji-link {
    text-decoration: none;
}

.inplace-edit {
    opacity: 10%;
    color: black;
    text-decoration: none;
}

.inplace-edit:hover {
    opacity: 100%;
}

.discussion {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    overflow-wrap: break-word;
    line-height: 1.45;
}

.discussion p {
    margin: 5px 0;
}

/* Edit */
.lined-input {
    background: none;
    width: 100%;
    margin: 10px 0;
    color: white;
    margin-bottom: 10px;
    border-style: none none solid none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    border-width: 1px;
}

.lined-input::placeholder {
    color: white;
    opacity: 50%;
}

.lined-input:focus {
    outline-width: 0;
    outline: none;
}

.discussion-edit {
    resize: none;
    width: 100%;
    border: 0px;
    vertical-align: top;
    height: 4.5em;
    background-image: linear-gradient(to top, #eee 1px,transparent 1px);
    font-size: 18px;
    line-height: 1.5em;
    background-size: 100% 1.5em;
    margin-bottom: 1.5em;
}

.discussion-edit:focus {
    outline-width: 0;
    outline: none;
}

.suggested-tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -2px;
    margin-right: -2px;
}

.suggested-tag {
    position: relative;
    padding: 0px 15px;
    margin: 5px 2px;
    color: white;
    font-weight: lighter;
    border-radius: 0.75em;
    height: 1.5em;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.suggested-tag:hover {
    cursor: pointer;
    opacity: 90%;
}

.outlink {
    color: black;
    text-decoration: underline;
}

.hidden {
    display: none;
}

/* Backgrounds, copied from https://cssgradient.io/gradient-backgrounds */
.background_gradient_0 {
    background: linear-gradient( 111.6deg, rgba(174,68,223,1) 27.3%, rgba(246,135,135,1) 112.7% );
}

.background_gradient_1 {
    background: radial-gradient( circle farthest-corner at 10% 20%, rgba(153,103,186,1) 41.2%, rgba(0,113,227,1) 90% );
}

.background_gradient_2 {
    background: linear-gradient( 109.6deg, rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );
}

.background_gradient_3 {
    background: linear-gradient( 109.6deg, rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
}

.background_gradient_4 {
    background: linear-gradient( 110.6deg, rgba(179,157,219,1) 7%, rgba(150,159,222,1) 47.7%, rgba(24,255,255,1) 100.6% );
}

.background_gradient_5 {
    background: linear-gradient( 99deg, rgba(255,166,0,1) 14.7%, rgba(255,99,97,1) 73% );
}

.background_gradient_6 {
    background: linear-gradient( 112.4deg, rgba(169,28,115,1) 21.6%, rgba(219,112,54,1) 92.2% );
}

.background_gradient_7 {
    background: linear-gradient( 292.9deg, rgba(254,105,241,1) 28.8%, rgba(182,44,248,1) 70.4% );
}

.background_gradient_8 {
    background: linear-gradient( 135.9deg, rgba(109,25,252,1) 16.4%, rgba(125,31,165,1) 56.1% );
}

.background_gradient_9 {
    background: radial-gradient( circle farthest-corner at 10% 20%, rgba(255,37,174,1) 0%, rgba(241,147,55,1) 53.4%, rgba(250,237,56,1) 99.5% );
}

.background_gradient_10 {
    background: linear-gradient( 181.3deg, rgba(134,15,15,1) 24.9%, rgba(183,10,10,1) 46.9%, rgba(210,70,0,1) 85.1% );
}

.background_gradient_11 {
    background: linear-gradient( 112.1deg, rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
}

.background_gradient_12 {
    background: linear-gradient( 109.8deg, rgba(62,5,116,1) -5.2%, rgba(41,14,151,1) -5.2%, rgba(216,68,148,1) 103.3% );
}

.background_gradient_13 {
    background: radial-gradient( circle 590px at 8.2% 13.8%, rgba(18,35,60,1) 0%, #bbb 90% );
}

.background_gradient_14 {
    background: linear-gradient( 78.1deg, rgba(177,14,236,1) 5.5%, rgba(255,19,15,1) 92.8% );
}

.background_gradient_15 {
    background: radial-gradient( circle farthest-corner at 10% 20%, rgba(7,121,222,1) 0%, rgba(20,72,140,1) 90% );
}

.background_gradient_16 {
    background: linear-gradient( 109.6deg, rgba(101,58,150,1) 29.9%, rgba(168,141,194,1) 99.9% );
}

.background_gradient_17 {
    background: radial-gradient( circle 609.6px at 21.5% 78.8%, rgba(37,99,219,1) 0%, rgba(233,45,181,1) 89.9% );
}

.background_gradient_18 {
    background: radial-gradient( circle farthest-corner at 10% 20%, rgba(0,52,89,1) 0%, rgba(0,168,232,1) 90% );
}

.background_gradient_19 {
    background: radial-gradient( circle farthest-corner at -1% 57.5%, rgba(19,170,82,1) 0%, rgba(0,102,43,1) 90% );
}

.background_gradient_20 {
    background: radial-gradient( circle farthest-corner at 50.4% 50.5%, rgba(251,32,86,1) 0%, rgba(135,2,35,1) 90% );
}

.background_gradient_21 {
    background: linear-gradient( 109.6deg, rgba(9,9,121,1) 11.2%, rgba(144,6,161,1) 53.7%, rgba(0,212,255,1) 100.2% );
}

.background_gradient_22 {
    background: linear-gradient( 109.6deg, rgba(33,25,180,1) 11.2%, rgba(253,29,29,1) 55.2%, rgba(252,176,69,1) 91.1% );
}

.background_gradient_23 {
    background: linear-gradient( 171.8deg, rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
}

.background_gradient_24 {
    background: linear-gradient(to right, #ad5389, #3c1053);
}

.background_gradient_25 {
    background: radial-gradient( circle farthest-corner at 10% 20%, rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
}
