<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Альпинист</title>

    <link rel="shortcut icon" href="${prefix}/static/favicon.ico">
    <link rel="stylesheet" href="${prefix}/static/main.css?v=1"/>
    <script type="application/javascript" src="${prefix}/static/main.js?v=1"></script>
</head>

<body id="outer-box">
<header class="header-container">
    <div class="header">
        <nav class="navigation">
            <a href="${prefix}/" class="header-link" id="home">Альпинист</a>
            <ul class="quick-links">
                <li class="quick-link"><a href="${prefix}/links/golden" class="header-link">Избранное</a></li>
                <li class="quick-link"><a href="${prefix}/links/logbook" class="header-link">Журнал</a></li>
            </ul>
        </nav>
    </div>
</header>
${body}
<footer class="footer-container">
    <div class="footer">
        <form action="${prefix}/sync" method="post">
            <button type="submit">Sync</button>
        </form>
    </div>
</footer>

<div id="inner-box"></div>
<div id="ruler"></div>
</body>
</html>
