<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Alpinist</title>

    <link rel="shortcut icon" href="${prefix}/favicon.ico">
    <link rel="stylesheet" href="${prefix}/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300|Open+Sans" rel="stylesheet">
</head>

<body>
<header class="globalwidth">
    <nav class="header-navigation">
        <a href="${prefix}" class="header-item" id="home">🏔 Alpinist</a>
        <a href="${prefix}/links/golden" class="header-item">Golden</a>
        <a href="${prefix}/links/golden" class="header-item">Golden2</a>
    </nav>
</header>

<div class="alpinist-body globalwidth">
    ${body}
</div>

<footer class="globalwidth">
    <form action="${prefix}/sync" method="post">
        <button type="submit">Sync</button>
    </form>
</footer>
</body>
</html>
