<article class="space space-edit">
    <form method="post">
        <div class="space-header-container ${background}">
            <div class="space-header">
                <div class="space-title-container">
                    <input id="space-title-edit" type="text" name="title" placeholder="Заголовок" value="${title}"
                           class="link-title lined-input"/>
                    <input id="space-title-url" type="text" name="url" placeholder="Ссылка" value="${url}" class="link-url lined-input"/>
                    <input type="text" name="name" placeholder="Идентификатор" value="${name}"
                           class="link-name lined-input hidden"/>
                </div>
                <div class="space-actions">
                    <button type="submit" class="header-link">Сохранить</button>
                    <button type="button" onclick="clearEdit()" class="header-link">Очистить</button>
                </div>
            </div>
        </div>
        <div class="space-body-container">
            <div class="space-body">
                <textarea id="discussion-edit" rows="20" placeholder="Что изучаешь на этот раз?" name="discussion"
                          class="discussion discussion-edit" contenteditable="true"
                          oninput="autoGrowTextField(this)"
                >${discussion}</textarea>
                <div class="suggested-tags">
                    ${suggested-tags}
                </div>
            </div>
        </div>
    </form>
</article>
