<div class="link">
    <form method="post">
        <article>
            <h1>
                <a href="${url}">${title}</a>
            </h1>
            <div class="link-actions ${hidden}">
                <button type="submit">Save</button>
            </div>
            <div class="discussion">
                <textarea rows="20" name="discussion">${discussion}</textarea>
            </div>
            <div class="link-tags">
                <input autocomplete="off" type="text" name="tags" value="${tags}">
            </div>
        </article>
    </form>
</div>
