<article class="space">
    <div class="space-header-container ${background}">
        <header class="space-header">
            <div class="space-title-container">
                <div class="space-title" id="space-title">
                    ${title}&nbsp<a href="${url}" class="${hidden} emoji-link">🔗</a>
                </div>
            </div>
            <div class="space-actions ${actions-hidden}">
                <a href="${prefix}/links/${name}/edit" class="header-link">Редактировать</a>
            </div>
        </header>
    </div>
    <div class="space-body-container">
        <section class="discussion space-body">${discussion}</section>
    </div>
    <div class="siblings-container">
        <section class="siblings">${siblings}</section>
    </div>
    <div class="incoming-links-container">
        <section class="incoming-links">${incoming-links}</section>
    </div>
</article>
